<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proiect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Upcoming Movies"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AuthenticateActivity"
            android:label="Authentication" />
        <activity
            android:name=".DataBaseHelper"
            android:label="@string/title_activity_data_base_helper"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginDataBaseAdapter" />
        <activity
            android:name=".MainActivity"
            android:label="Upcoming Movies"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetails"
            android:label="@string/title_activity_movie_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FavoriteMovies"
            android:label="@string/title_activity_favorite_movies"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>